---
layout: archive
permalink: /blog-archive/
title: "AAAS-TPS Advocacy and Policy Fellowship Blog
From the Mars to the Hill: a planetary scientist's reflections on a year in science policy
"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for blog in site.blog %}
  {% capture year %}{{ blog.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
